.center {
    margin: auto;
    width: 60%;
    height: 90vh;
    padding: 10px;   
  }
  .bg {
    background-image: url("../public/bg.png");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  .title {
    filter: drop-shadow(3px 5px 2px black);
    color: #ffffff;
  }
  .colorWhite{
    color: #ffffff !important;
  }
  .search{
    font-size: 20px;
    width: 230px;
  }
  .cityname{
    font-size: 25px;
  }
  .pin{
    margin-top: 30px;
  }
  .temp{
    margin-top: 30px;
  }